body {
  background-color: #18191D;
  padding:20px;
  font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#f5f5f5;
  font-weight:400;
}

.bg-zers::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("{{ '/assets/img/pattern-32-inv.svg' | relative_url }}"),
      linear-gradient(#61045F, transparent),
      linear-gradient(to top left, lime, transparent),
      linear-gradient(to top right, blue, transparent);
  background-size: contain;
  background-position: left;
  background-repeat: repeat-x;
  background-blend-mode: darken;
  will-change: transform;
}

/*menu pages*/
.boxbg-header-banner {
  background: #282E33;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.boxbg-divider-banner {
  margin-top: 0;
  padding: 10px;
  background-color: #282E33;
  text-align: center;
}

.menu-title {
  text-align: left;
  color: #f5f5f5;
  border-radius: 30px;
  background-color: transparent;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
}

.boxbg-menu {
  padding: 20px;
  border-radius: 10px;
  margin-top: -20px;
  background-color: #282E33;
}

/* menu page end */

/* back to top button */
.backtotop{
  display: flex; 
  margin: 0 ;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px; 
  color:#f5f5f5; 
  font-weight:bold; 
  text-align: right; 
  padding: 10px;
}

.android-icon{
  color: #A4C639;
}

.desktop-icon{
  color: #0078d4;
}

.apple-icon {
  /* Fallback: Set a background color. */
  background-color: #0000;
  
  /* Create the gradient. */
  background-image: linear-gradient(to top,#5EBD3E,#FFB900,#F78200,#E23838,#973999,#009CDF);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.windows-icon {
  /* Fallback: Set a background color. */
  background-color: #0000;
  
  /* Create the gradient. */
  background-image: linear-gradient(-45deg,#0078d4,#4EBEFE);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.linux-icon {
  /* Fallback: Set a background color. */
  background-color: #0000;
  
  /* Create the gradient. */
  background-image: linear-gradient(to bottom,#202020,#F8BF11);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.gradient-icon {
  /* Fallback: Set a background color. */
  background-color: #ee0979;
  
  /* Create the gradient. */
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.divider {
  display: flex; 
  background-color: #282E33; 
  border-radius: 10px; 
  padding: 0.3px; 
  margin: 10px 0 10px;
}

.title-header {
  font-size: 25px;
  color: #f5f5f5;
  font-weight: bold;
  line-height: 1.6;
}

.boxbg-header {
  padding: 20px 10px 10px 10px;
  border-radius: 10px 10px 0 0;
  background-color: #282E33;
  text-align: center;
}

.boxicon-header {
  display: block;
  color: #444;
  padding-top: 10px; 
}

.icon-header {
  width: 20%;
  margin-right: 10px;
}

.appname {
  font-size: 22px;
  color:#f5f5f5;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

.tittleproduct {
  font-size: 13px
}

.boxbg {
  padding: 15px;
  border-radius: 0 0 10px 10px;
  /*margin-top: -40px;*/
  background-color: #282E33;
}

.boxline{
  padding: 10px 10px;
  /*background-color: #3D444B;*/
  border: 1px solid #3D444B;
  font-size: 15px;
  border-radius: 10px;
}

.box-iconappname {
	display: flex; 
	margin: 0 0 10px 0; 
	align-items: center;
}

.img-app {
  align: left;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 10px;
}

.boxlink {
  padding: 5px 10px;
  border: 1px solid #3D444B;
  font-size: 15px;
  border-radius: 10px;
}

.button-droid-border{
  display: flex; 
  margin: -10px 0 0 0; 
  align-item: center; 
  border-radius: 0; 
  background-color: #282E33;
}

.button-droid {
	color: #f5f5f5;
	text-align: center; 
	border-radius: 8px; 
	background-color: #3D444B; 
	width: calc(100% / 3);
	padding: 10px;
	margin: 15px;
	transition-duration: 0.1s;
}

.active, .button-droid:hover {
  /*border: 1px solid #009687;*/
  background-color: #009687;
  color: #f5f5f5;
  border-radius: 8px;
  text-decoration: none;
}

.desktop-appname {
  text-align: center;
  color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  background-color: #353C43;
  font-size: 17px;
  /*border-top: 3px solid #0088cc;*/
  font-weight: 500;
  margin-bottom: 10px;
}

.desktop-boxlink {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #FAF6F9;
  font-weight: 500;
}

.button-yt {
  color: #f5f5f5;
  text-align: center; 
  border-radius: 30px; 
  background-color: #3D444B; 
  width: calc(100% / 2);
  padding: 10px;
  margin: 10px;
  transition-duration: 0.1s;
}

.button-yt:hover {
  background-color: #353C43;
  color: #f5f5f5;
  border-radius: 30px;
  text-decoration:none;
}
.button-yt:active {
  border-bottom: 3px solid #0088cc;
}

.boxbg-header-yt {
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  background-color: #DCDCDC;
  text-align: center;
}

.boxbg-divider-top {
  margin-top: 0;
  padding: 20px;
  background-color: #282E33;
  text-align: center;
}

.boxbg-divider-bottom {
  margin-top: -10px;
  padding: 10px;
  background-color: #282E33;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.yt-appname {
  text-align: center;
  color: #f5f5f5;
  padding: 5px;
  margin-top: 5px;
  border-radius: 30px;
  background-color: #353C43;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

.boxbg-yt {
  padding: 20px 20px;
  border-radius: 20px 20px 0 0;
  margin-top: -40px;
  background-color: white;
}

.thanks {
  color: white;
  display: block; 
  background-color: transparent; 
  font-weight: normal; 
  padding: 10px 15px; 
  text-align: right; 
  margin-top: 5px; 
  border-radius: 20px; 
}

/* Windows CSS */
.postbody {
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: white;
  text-align: left;
}

.images-post {
  margin: 5px 0;
  align-items: center;
}

/*Link Download */

.border-link{
  display: flex; 
  margin: 5px auto; 
  align-item: left; 
  border-radius: 0; 
  background-color: #282E33; 
  padding: 0;
}

.button-link {
  font-weight: 500;
  color: white;
  text-align: center; 
  border-radius: 30px; 
  /*background-color: skyblue;*/ 
  /*width: calc(100% / 2);*/
  padding: 5px 10px;
  margin: 3px;
  transition-duration: 0.1s;
}

.button-link:hover {
  background-color: #444;
  color: white;
  border-radius: 15px;
  text-decoration:none;
}
/* Link Download batas*/

/*Oleh*/
.box-oleh {
  display: flex; 
  margin: 0 ;
  align-items: center;
  justify-content: flex-end;
}

.img-oleh {
  align: right;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-left: 10px;
}
/*Batas bawah Oleh*/


/*Page 404*/
.home-button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center; 
  border-radius: 30px; 
  background-color: #4B4B62;
  padding: 5px 15px;
  margin: 2px;
  transition-duration: 0.1s;
}

.home-button:hover {
  background-color: #FBB868;
  color: white;
  border-radius: 30px;
  text-decoration:none;
}

.boxbg-404 {
  padding: 20px 20px;
  border-radius: 20px;
  margin-top: 10px;
  background-color: white;
}

.fundo {
  animation: scales 3s alternate infinite;
  transform-origin: center;
}
.pao-baixo {
  animation: rotatepao 14s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.pao-cima {
  animation: rotatepao 7s 1s cubic-bezier(0.1, 0.49, 0.41, 0.97) infinite;
  transform-origin: center;
}
.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}

.left-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 150px 156px;
}

.right-sparks {
  animation: left-sparks 4s alternate infinite;
  transform-origin: 310px 150px;
}

.olhos {
  animation: olhos 2s alternate infinite;
  transform-origin: center;
}
@keyframes scales {
  from {
    transform: scale(0.98);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotatepao {
  0% {
    transform: rotate(0deg);
  }
  50%,
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes olhos {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks {
  0% {
    opacity: 0;
  }
}

.main {
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s alternate infinite;
}

@keyframes dash {
  0%,
  30% {
    fill: 4b4b62;
    stroke-dashoffset: 0;
  }
  80%,
  100% {
    fill: transparent;
    stroke-dashoffset: -200;
  }
}
/*batas page 404*/


/* HORIZONTAL SCROLL */
.scroll-container{
  overflow: auto;
  white-space: nowrap;
  padding: 0 0 5px 5px;
  background: transparent;
  height: auto;
  border-radius:10px;
  margin: 5px 0 5px 0;
}

.gridscroll{
  display:inline-block;
}

.gridscroll img {
  margin-right:10px;
}

.image-custom{
  border-radius: 10px;
  height: 350px;
}
/* BATAS HORIZONTAL SCROLL */

h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 10px;
}

p {
  color: white;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 > a {
  color: white;
  font-size:35px;
  font-weight: 500;
  text-decoration:none;
}

h2 {
  color:#393939;
  font-weight: 500;
}

h3, h4, h5, h6 {
  color:#494949;
  font-weight: 500;
}

a {
  transition-duration: 0.1s;
  /*color: #0088cc;*/
  color: #009687;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:1080px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:500;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:750px;
  float:right;
  padding-bottom:50px;
  position: relative;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:relative;
    width:auto;
    padding: 0 20px;
  }

  header {
    padding-right:320px;
  }

  section {
    border-width:1px 0;
    padding:0;
    margin:0 0 20px 0;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0 20px;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:0px;
  }

  header ul {
    width:99%;
  }

  header li, header ul li + li + li {
    width:33%;
  }
	
	.icon-header {
		width: 20%;
	}
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
